@import "tailwindcss";

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.text-glow {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

#__react-hot-toast {
  z-index: 999999 !important;
}
